html,
body{
  height: 100%;
}

body{
  color: $default;
  font-size: 16px;
  line-height: 30px;
  @extend %dmsans-500;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.main{
  flex-grow: 1;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
}

a{
  color: #7b7b7b;
  font-size: 16px;
  line-height: 32px;
  @extend %rubik-400;
}

%container-1770{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}