@import 'vars';
@import 'fonts';
@import 'reset';
@import 'lib';
@import 'global';

.header {
  padding: 37px 0;
  &__container{
    @extend %container-1770;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 33px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 56px;
  }
  &__inner {
    display: flex;
    margin: 0 18px;
    position: relative;
    width: 178px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }
  &__inner::before{
    content:'';
    position: absolute;
    border-left: 1px solid #fde7d3;
    height: 32px;
    top: 9px;
    bottom: 9px; 
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    color: $default;
    text-align: center;
    line-height: 16px;
  }

  &__link--search{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  &__link--dots{
     position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    display: flex;
    align-items:center;
    justify-content: center
  }
}
.footer{
  padding: 80px 0 40px;
  &__logo{
    display: inline-block;
    margin-bottom: 28px;
  }
}
.footer-top{
  display: flex;
  padding-bottom: 70px;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  @extend %rubik-400;
  border-bottom: 1px solid #7b7b7b;
  &__item-contact{
    width: 215px;
    margin-right: 85px;
  }
  &__item-nav {
    width: 200px;
    margin-right: 100px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo-title{
    margin-bottom: 25px;
  }
  &__item-address {
    font-style: normal;
    color: #7b7b7b;
    line-height: 24px;
  }
  &__item-title {
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-top: 16px;
  }
  &__item-text {
    line-height: 21px;
    margin-bottom: 35px;
    color: #7b7b7b;
  }
  &__form {
    display: flex;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    background-color: #fef7f0;
    border: none;
    padding: 14px;
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }
  &__form-btn {
    background-color: #a3bbc8;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    border: none;
    color: #fff;
    padding: 13px 18px 13px 15px;
  }
}
.footer-bottom {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: #7b7b7b;
  }
  &__nav-link{
    margin-right: 28px;
    font-size: 14px;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
  }
   &__nav-line::after{
    content:'';
    position: absolute;
    border-left: 1px solid #7b7b7b;
    height: 17px;
    top: 0px;
    right: -16px;
  }
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #edf1f4;
  height: 125px;
  &__title {
    @extend %top-title;
    margin-bottom: 19px;
  }
}

.slider{
  @extend %container-1770;
}
.top-slider {
  max-width: 1770px;
  margin: 0 auto;
  background-image: url(../images/slider/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center 65%;
  padding: 220px 0 45px;
  &__items {
    padding: 0 10px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
  }
  &__title {
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500;
    color: $default;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    color: $accent;
    margin-bottom: 40px;
  }
  &__btn {
    background-color: #a3bbc8;
    color: #fff;
    padding: 24px 18px 20px 26px;
    max-width: 200px;
    height: 60px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 5px;
      button{
      border: none;
      line-height: 11px;
      font-size: 9px;
      border-radius: 50%;
      width: 29px;
      height: 29px;
      padding: 0;
      background-color: #fde3cc;
      color: $accent;
      @extend %rubik-400;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: $default;
          @extend %dmsans-700;
        }
      }
    }
  }
}

.slider-info {
  padding: 45px;
  background-color: #fef7f0;
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item{
    padding-left: 75px;
  }
  &__item--support {
    position: relative;
    &::after{
      content: '';
      background-image: url(../images/slider/support.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 11px;
      left: 0px;
      width: 52px;
      height: 54px;
    }
  }
  &__item--delivery {
    position: relative;
    &::after{
      content: '';
      background-image: url(../images/slider/deliver.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 0px;
      width: 52px;
      height: 54px;
    }
  }
  &__item--payment {
    position: relative;
    &::after{
      content: '';
      background-image: url(../images/slider/payment.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 11px;
      left: 0px;
      width: 52px;
      height: 54px;
    }
  }
  &__item-title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    max-width: 220px
    }
}

.lamp {

  @extend %container-1770;

  &__inner {
    display: flex;
  }
  &__box {
    max-width: 870px;
    width: 100%;
    padding: 95px 0;
    overflow: visible;
    background-color: #feefe2;
  }
  &__box-info {
    max-width: 270px;
    margin-left: 400px;
    position: relative;
    color: #243f4d;

  }
  &__box-img {
    position: absolute;
    left: -275px;
    bottom: 0;
  }
  &__box-title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  &__box-text {
    @extend %rubik-400;
    font-size: 16px;
    margin-bottom: 32px;

  }
  &__btn {
    max-width: 180px;
    height: 60px;
    padding: 22px 20px 24px 18px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #b3b7b5;
    color: $accent;
  }
  &__box+.lamp__box {
    margin-left: 30px;
  }
}

.video-popup {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  margin-bottom: 105px;
}

.product {
  padding-top: 90px;
  margin-bottom: 185px;
  text-align: center;
  &__title {
    margin-bottom: 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.product-item {
  width: 270px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 38px;
  &__img-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    &:hover{
    .product-item__link-box{
      transform: translateY(-150%);
      }
    }  
  }
  &__link-box {
    max-width: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link {
    position: relative;
    width: 45px;
    height: 45px;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
  }
  &__link:hover{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
  &__info-box{
    line-height: 1;
    text-align: center;
    width: 100%;
  }
  &__title {
    @extend %dmsans-500;
    color: $default;
    margin-bottom: 15px;
  }
  &__price {
    @extend %dmsans-700;
    color: #a3bbc8;
  }
}
.box-btn {
    margin-bottom: 80px;
    .mixitup-control-active{
      color: $title;
    }
  }
.mix__btn {
  cursor: pointer;
    transition: all .5s;
    border: none;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    background-color: transparent;
    padding: 0;
    margin-right: 28px;
    &:nth-child(5){
      margin-right: 0px;
    }
    &:hover{
        color: $title;
    }
  }
.desing {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 120px;
  &__title {
    margin-bottom: 25px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 33px 30px;
  }
}
.desing-item {
  position: relative;
  height: 250px;
  max-width: 370px;
  &__img-box {
    position: relative;
  }
  &__info-box {
    position: absolute;
    top: 40px;
    left: 36px;
    z-index: 1;
    text-align: left;
    line-height: 1;
    @extend %dmsans-700;
  }
  &__title {
    max-width: 170px;
    margin-bottom: 14px;
    color: #191919;
    font-size: 20px;
    line-height: 1.2;
  }
  &__span {
    display: block;
    color: #a3bbc8;
  }
}

.articles {
  position: relative;
  &::after{
    content: '';
    position: absolute;
    background-color: #fef7f0;
    top: 325px;
    left: 0;
    height: 170px;
    width: 100%;
    z-index: -1;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 45px;
  }
  &__top-link {
    position: relative;
    color: $title;
    padding-right: 25px;
    @extend %dmsans-700;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/icons/articles-arrow.svg);
      right: 0;
      top: 10px;
      width: 6.1px;
      height: 10.97px;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    height: 420px;
    max-width: 370px;
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
  }
  &__item-img {
    margin-bottom: 33px;
  }
  &__item-content {
    padding: 0 27px;
  }
  &__item-text {
    min-height: 75px;
    max-width: 295px;
    line-height: 1.2;
    font-size: 18px;
    color: $title;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }
  &__items-bottom {
    font-size: 12px;  
    line-height: 2.5;
    color: $title;
    @extend %dmsans-500;
}
  &__items-date {
    display: inline-block;
    margin-right: 30px;
    border-radius: 5px;
  }
  &__items-signature {
    display: inline-block;
  }
  &__item--news{
    &::before{
      content: 'NEWS';
      text-transform: uppercase;
      position: absolute;
      left: 28px;
      top: 235px;
      background-color: #a3bbc8;
      padding: 10px 31px;
      border-radius: 12px;
      font-size: 14px;
      line-height: 10px;
      @extend %dmsans-700;
      color: #fff;
    }
  }
}
.partners {
  padding: 94px 0 90px;
  background-color: #fef7f0;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}  

.model {
  padding: 115px 0 120px;
  margin: 0 auto;
  max-width: 470px;
  &__input {
    width: 100%;
    border: 1px solid #f6f6f6;
    display: block;
    height: 60px;
    padding: 0 15px;
    margin: 8px 0 26px;
    }
  &__btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    text-align: center;
    margin: 38px 0 10px;
    color: #fff;
    font-size: 18px;
    @extend %rubik-500;
    height: 60px;
  }
  &__label,
  &__error{
    font-size: 14px;
    @extend %rubik-400;
    color: $accent;
  }
  &__checkbox-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 48px;
    color: $accent;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 10px;
    margin-bottom: 18px;
  }
  &__link{
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: $accent;
    
  }
  &__create-btn{
    display: block;
    border: 1px solid #a3bbc8;
    width: 100%;
    text-align: center;
    color: $title;
    height: 60px;
    background-color: transparent;
    font-size: 18px;
    @extend %rubik-400;
    color: $default;
  }
}

.about {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    max-width: 570px;
    width: 100%;
  }
  &__content-top {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
  }
  &__content-top-title {
    font-size: 140px;
    line-height: 32px;
    color: $num;
    @extend %dmsans-700;
  }
  &__content__top-list {
    margin-left: 30px;
  }
  &__content__top-list-item {
    @extend %rubik-500;
  }
  &__title {
    color: $default;
    margin-bottom: 50px;
    @extend %rubik-400;
    font-size: 36px;
    line-height: 32px;
  }
  &__text {
    padding-bottom: 65px;
    border-bottom: 1px solid #e6eaf0;
    margin-bottom: 40px;
  }
  &__content-num {
    display: flex;
    justify-content: space-around;
  }
  &__content-num-item {
    padding-left: 65px;
    position: relative;
  }
  &__content-title {
    font-size: 36px;
    line-height: 38px;
    color: $default;
    @extend %rubik-400;
  }
  &__content-span {
    @extend %dmsans-700;
    line-height: 17px;
    color: #4c4c4c;
  }
  &__content-num-item--pen::after{
    content: '';
    position: absolute;
    background-image: url(../images/icons/pen.svg);
    width: 36.41px;
    height: 37.719px;
    left: 8px;
    top: 14px;
  }
  &__content-num-item--voice{
    &::after{
    content: '';
    position: absolute;
    background-image: url(../images/icons/voice.svg);
    width: 43.12px;
    height: 39.094px;
    left: 0;
    top: 14px;
    }
    &::before{
      position: absolute;
      content: '';
      border-right: 1px solid #e6eaf0;
      height: 80px;
      top: 0;
      left: -28px;
    }
  }
  &__content-num-item--prize{
    &::after{
    content: '';
    position: absolute;
    background-image: url(../images/icons/prize.svg);
    width: 41.78px;
    height: 40.406px;
    left: 0;
    top: 14px;
    }
    &::before{
      position: absolute;
      content: '';
      border-right: 1px solid #e6eaf0;
      height: 80px;
      top: 0;
      left: -28px;
    }
  }
}

.numbers {
  background-color: #fcd7b6;
  &__items {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 320px;
  }
  &__item-img{
    height: 70px;
    margin-bottom: 22px;
  }
  &__item-title {
    font-size: 36px;
    line-height: 32px;
    @extend %dmsans-700;
    margin-bottom: 24px;
  }
  &__item-span {
    font-size: 18px;
    line-height: 32px;
  }
}

.team {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 310px;
    width: 100%;
  }
  &__info-title {
    margin-bottom: 32px;
  }
  &__info-text {
    margin-bottom: 40px;
  }
  &__info-link {
    height: 50px;
    max-width: 170px;
    width: 100%;
    background-color: #a3bbc8;
    border-radius: 5px;
    color: #fff;
    padding: 18px 30px 18px 14px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
  }
  &__item {
    position: relative;
  }
  &__content-info {
    display: flex;
    justify-content: space-between;
    height: 110px;
    max-width: 325px;
    width: 100%;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    padding: 28px 22px;
    background-color: #fff;
    position: absolute;
    bottom: -50px;
  }
  &__content-name-title {
    color: $default;
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  &__content-name-span {
    color: #565872;
    @extend %rubik-400;
  }
  &__content-icons {
    display: flex;
  }
  &__content-icon {
    width: 41px;
    height: 41px;
    height: 100%;
    margin-right: 7px;
    &:last-child{
      margin-right: 0;
    }
  }
}

.conditions {
  padding: 120px 0;
  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: $default;
    margin-bottom: 36px;
  }
  &__list {
    list-style-type: decimal-leading-zero; 
    margin-bottom: 70px;
    p{
      margin-left: 10px;
    }
  }
  &__item {
    margin-bottom: 30px;
  }
  &__text {
    @extend %rubik-400;
    color: $default;
  }
  &__center{
    margin-bottom: 65px;
  }
}

.product-list {
  padding: 125px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__filters {
    width: 270px;
  }
}

.filter {
  &__item{
    margin-bottom: 55px;
  }
  &__title {
    font-size: 18px;
    @extend %dmsans-700;
    color: $default;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    &::after{
      content:'';
      position: absolute;
      border-top: 1px solid #a3bbc8; 
      height: 2px;
      width: 38px;
      top: 14px; 
      margin-left: 20px;
    }
  }
}
.filter-price {
  &__from,
  &__to {
    &::before{
      content: '$';
    }
  }
  &__span{
    display: flex;
    justify-content: space-between;
  }
}
.irs--flat .irs-line {
    top: 6px;
    height: 3px;
    background-color: #c8d6de;
    border-radius: 0;
}

.irs--flat .irs-handle {
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #c8d6de;
  }
  .irs--flat .irs-handle>i:first-child{
    display: none;
  }

  .irs--flat .irs-bar {
    top: 6px;
    height: 4px;
    background-color: #c8d6de;
}
  .irs--single, .irs-from, .irs-to{
    display: none;
  }
  .irs--flat .irs-min, .irs--flat .irs-max{
    display: none;
  }
  .irs--flat {
    height: 30px;
}

.filter-category {
  &__label {
    display: block;
  }
  &__input {
    @extend %checkbox-hiden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }
  &__checkbox {
    color: $default;
    display: flex;
    justify-content: space-between;
    @extend %rubik-400;
    line-height: 43px;
    padding: 0 22px 0 15px;
  }
}

.filter-brand {
  &__label {
  display: block;
  }
  &__input {
    @extend %checkbox-hiden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
        span:last-child{
          color: $default;
          }
      }
  }
  &__checkbox {
    color: $default;
    display: flex;
    justify-content: space-between;
    @extend %rubik-400;
    line-height: 43px;
    padding: 0 22px 0 15px;
    span:last-child{
    color: #b3b3b3;
    }
  }
}
.filter-recent {
  &__label {
    display: flex;
    margin-bottom: 18px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__imgbox {
    border: 2px solid #f2f2f2;
    background-color: #fefefe;
    padding: 3px 5px;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
  }
  &__info-link {
    font-size: 14px;
    line-height: 16px;
    @extend %rubik-400;
    color: #333333;
  }
  &__info-price {
    font-size: 15px;
    line-height: 27px;
    @extend %rubik-400;
    color: #333333;
  }
}
.jq-ry-container{
  padding: 0;
}
.product-list{
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 40px 30px;
    .product-item{
      margin-bottom: 40px;
    }
  }
}

.product-list-2 {
  &__content{
    margin-left: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    max-width: 870px;
    height: 500px;
    margin-bottom: 40px;
  }
  &__box-img {
    border: 2px solid #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 500px;
    background-color: #fefefe;
  }
  &__info {
    max-width: 445px;
    margin-left: 50px;
  }
  &__title {
    @extend %rubik-400;
    font-size: 40px;
    line-height: 26.5px;
    color: $title;
    margin-bottom: 26px;
  }
  &__price {
    @extend %rubik-400;
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 28px;
  }
  &__text {
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__link-box {
    display: flex;
  }
  &__link {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-right: 10px;
    &:hover{
      background-color: $num;
      path{
        fill: #fff;
      }
    }
  }
  &__link--cart{
    position: relative;
    transition: all .3s;
    &:hover{
      border-radius: 5px;
      .button-box{
        display: block;
      }
    }
  }
}
.star-big{
  margin-bottom: 20px;
}
.pagination-list-1{
  display: flex;
  justify-content: center;
  margin-top: 108px;
}

.pagination-list-2{
  display: flex;
  margin-top: 75px;
}

.button-box{
  position: absolute;
  left: 0;
  display: none;
}

.product-btn {
    text-transform: uppercase;
    border: none;
    background-color: $num;
    padding: 16px 48px;
    color: #fff;
    line-height: 1;
    border-radius: 5px;
    width: 200px;
    height: 50px;
  }

.product-detalis {
  padding: 120px 0;
}
.detalis-one {
  &__inner {
    display: flex;
  }
  &__content {
    width: 505px;
    padding-top: 30px;
  }
  &__slide{
  width: 550px;
  height: 530px;
  margin-right: 70px;
  }
  &__form {
    margin-bottom: 55px;
    display: flex;
  }
  &__btn {
    font-size: 15px;
    cursor: pointer;
    margin-left: 15px;
  }
}
.detalis-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 140px;
    margin-bottom: 45px;
  } 
  .detalis-slide__big.slick-initialized.slick-slider{
    div{
      width: 390px;
    }
  }
  &__thumb{
  width: 140px;
  margin-right: 30px;
    }
  &__big-imgbox,
  &__thumb-imgbox{
    border: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
  }
  &__thumb-imgbox{
    width: 140px;
    height: 160px;
    img{
   height: 140px;
   object-fit: cover;
   cursor: pointer;
    }
  }
  &__big-imgbox{
    width: 390px;
    height: 530px;
  }
}
.detalis-info {
  &__item {
    display: flex;
  }
  &__title,
  &__text {
    @extend %rubik-400;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slick-list{
  height: 100%;
}

.jq-number__field input {
    outline: none;
    color: $title;
    @extend %rubik-400;
    text-align: center;
    width: 148px;
    height: 50px;
    padding: 0;
    border: 1px solid $num;
    cursor: auto;
}
.jq-number{
  padding: 0;
  position: relative;
}

.jq-number.detalis-one__num{
  border: none;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.jq-number__spin.minus {
  width: 49px;
  height: 49px;
  left: 0;
  border-right: 1px solid $num;
}

.jq-number__spin.plus{
  right: 0;
  width: 49px;
  height: 49px;
  border-left: 1px solid $num;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 21px;
  background-color: $title;
  width: 9px;
  height: 1px;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: $title;
  width: 1px;
  height: 9px;
}

.product-tabs {
  padding: 100px 0 125px;
  &__top {
    margin-bottom: 35px;
    @extend %rubik-500;
    font-size: 18px;
    text-align: center;
  }
  &__top-item {
    display: inline-block;
    @extend %btn;
    width: 240px;
    color: $default;
    background-color: #edf1f4;
    & + .product-tabs__top-item{
      margin-left: 13px;
    }
  }
  &__top-item--active{
    color: #fff;
    background-color: $num;
  }
  &__content-item {
    display: none;
    &.product-tabs__content-item--active{
      display: block;
    }
  }
}
.related-products{
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
  }
  &__title{
    margin-bottom: 0;
  }
  &__arrowbox{
    display: flex;
  }
  &__item{
    margin-left: 15px;
  }
}
.prev,
.next{
width: 50px;
height: 50px;
border: 1px solid #edf1f4;
background-color: #fff;
border-radius: 5px;
transition: all .3s;
position: relative;
font-size: 0;
&::before{
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
}
&:hover{
  border-color: $num;
  }
}
.prev{
  margin-right: 20px;
  &::before{
  content: '';
  position: absolute;
  background-image: url(../images/product/detalies/slide-arrow-right.svg);
  height: 9px;
  width: 22px;
  }
}

.next{
  &::before{
  content: '';
  position: absolute;
  background-image: url(../images/product/detalies/slide-arrow-left.svg);
  height: 9px;
  width: 22px;
  }
}

.blog {
  padding: 120px 0;
  &__inner {
    display: flex;
  }
  &__item {
    max-width: 830px;
    margin-right: 70px;
    padding-bottom: 50px;
  }
  &__item-namebox {
    width: 275px;
    height: 70px;
    background-color: $num;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-top: -70px;
    position: absolute  ;
    font-size: 12px;
  }
  &__item-title {
    @extend %rubik-400;
    margin: 40px 0;
    color: #333333;
    font-size: 36px;
  }
  &__item-text {
    max-width: 800px;
    margin-bottom: 38px;
  }
  &__item-btn {
    width: 180px;
    height: 60px;
    border: 1px solid $num;
    padding: 0 20px;
    color: $num;
  }
}

.blog-recent {
  &__label {
    margin-bottom: 25px;
  }
  &__info {
    line-height: 1px;
  }
  &__link {
    font-size: 14px;
    color: #333333;
    @extend %rubik-400;
  }
  &__date {
    color: #9a9a9a;
    font-size: 12px;
    @extend %rubik-400;
    margin-top: 14px;
    line-height: 16px;
  }
}
.blog {
  &__img {
    margin-right: 16px;
    width: 70px;
    height: 70px;
  }
}

.filter-search {
  &__form {
    position: relative;
  }
  &__input {
    border: 1px solid #edf1f4;
    background-color: #fff;
    width: 260px;
    height: 50px;
    padding: 0 55px 0 15px;
    border-radius: 5px;
    outline: none;
  }
  &__btn {
    border: none;
    background-color: #edf1f4;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

}
.blog-detalis {
  &__content {
    margin-right: 70px;
    max-width: 830px;
    width: 100%;
  }
  &__namebox{
    margin-top:  -100px;
  }
  &__name-inner{
    img{
      margin-bottom: 30px;
    }
  }
  &__text {
    h6,
    h5{
      @extend %dmsans-700;
      color: $default;
      font-size: 16px;
      line-height: 30px;
    }
    h3{
      margin-bottom: 20px;
      color: #333333;
      font-size: 36px;
      @extend %rubik-400;
    }
    h5{
      margin-bottom: 20px;
    }
    p{
      @extend %rubik-400;
      color: #61637b;
    }
    blockquote{
      height: 130px;
      margin: 45px 0;
      border-left: 5px solid $num;
      padding: 22px 30px;
      background-color: #edf1f4;
      @extend %rubik-400;
      span{
        display: block;
        padding-left: 40px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          border-top: 2px solid $num;
          left: 4px;
          top: 50%;
          height: 2px;
          width: 20px;
        }
      }
    }
  }
  &__left-img {
    float: left;
    margin-right: 30px;
    object-fit: cover;
    height: 209px;
    width: 320px;
  }
  h5{
    font-size: 18px;
    @extend %rubik-500;
    margin-bottom: 14px;
  }
  &__imgbox {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__imgbox-info{
    max-width: 455px;
  }
  &__box {
    padding: 25px 20px 25px 0;
    border: 1px solid #ebebeb;
    border-right: none;
    border-left: none;
    margin: 60px 0;
  }
  &__box-inner {
    display: flex;
    justify-content: space-between;
  }
  &__box-info {
    display: flex;
    align-items: center;
  }
  &__box-img {
    margin-right: 25px;
    object-fit: cover;
  }
  &__box-link {
    color: #333333;
    font-size: 18px;
    @extend %dmsans-700;
  }
  &__box-position {
    @extend %rubik-400;
  }
  &__tags {
    span{
      margin-right: 30px;
    }
  }
  &__shere {
    span{
      margin-right: 20px;
    }
    a{
      margin-right: 20px;
      vertical-align: top;
      &:last-child{
        margin-right: 0;
      }
      svg{
      path{
        fill: #a1a1a1;
        }
      }
    }
  }
  &__comments {
    margin-bottom: 90px;
  }
  &__comments-title {
    font-size: 24px;
    line-height: 36px;
    color: #436372;
    @extend %dmsans-700;
  }
  .comments-title{
    margin-bottom: 50px;
  }
  .comments {
    display: flex;
    &:nth-child(2n+1){
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      padding: 30px 0;
      margin: 25px 0 25px 130px;
    }
    &__img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 30px;
    }
    &__content-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    &__content-name {
      color: #436372;
      @extend %dmsans-700;
    }
    &__content-date {
      font-size: 14px;
      @extend %rubik-400;
      color: #9e9e9e;
    }
    &__content-text {
      color: #565872;
      margin-bottom: 20px;
    }
    &__content-reply {
      font-size: 14px;
      color: #516278;
      padding-right: 20px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        right: 0;
        top: 2px;
        background-image: url(../images/blog/arrow-right-blog.svg);
        background-repeat: no-repeat;
      }
    }
  } 
    &__form-input,
    &__form-textarea {
      width: 100%;
      padding:20px;
      border-radius: 0px;
      border: 1px solid #e5e5e5;
      @extend %rubik-400;
      color: #333333;
      &::placeholder{
        color: #999999;
        @extend %rubik-400;
      }
    }
    &__form-input-inner{
      display: flex;
    }
    &__form-input{
      margin-bottom: 20px;
      margin-right: 30px;
      height: 50px;
      max-width: 400px;
    }
    &__form-input--name{
        background: url(../images/blog/blog-user.svg) no-repeat center right 19px;
    }
    &__form-input--text{
         background: url(../images/blog/email-blog.svg) no-repeat center right 19px;
         margin-right: 0;
    }
    &__form-textarea {
      max-width: 834px;
      height: 120px;
      resize: none;
      margin-bottom: 40px;
      background: url(../images/blog/email-blog.svg) no-repeat top 22px right 19px;
      // должна быть другая картинка поэтому написал бэк отдельно
    }
    &__form-button {
      @extend %btn;
      border: none;
      padding: 15px 30px;
      border-radius: 0px;
      font-size: 14px;
      @extend %rubik-400;
      color: #fff;
      text-transform: uppercase;
    }
    .form-title{
    margin-bottom: 40px;
  }
}






@import 'media'
