@import 'vars';
@import 'fonts';
@import 'reset';
@import 'lib';
@import 'global';

.header {
  padding: 37px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %container-1770;
  }
}
.logo {
  &__title {
    font-size: 36px;
    line-height: 58px;
    padding-left: 65px;
    position: relative;
    color: $accent;
    @extend %rubik-500
  }
  &__title::after{
    content:"";
    position: absolute;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center left;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 33px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 56px;
  }
  &__inner {
    display: flex;
    margin: 0 18px;
    position: relative;
    width: 178px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }
  &__inner::before{
    content:'';
    position: absolute;
    border-left: 1px solid #fde7d3;
    height: 32px;
    top: 9px;
    bottom: 9px; 
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    color: $default;
    text-align: center;
    line-height: 16px;
  }

  &__link--search{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  &__link--dots{
     position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    display: flex;
    align-items:center;
    justify-content: center
  }
}

.footer-top{
  display: flex;
  padding: 90px 0 70px;
  align-items: baseline;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  @extend %rubik-400;
  border-bottom: 1px solid #7b7b7b;
  &__item-contact{
    width: 215px;
    margin-right: 85px;
  }
  &__item-nav {
    width: 200px;
    margin-right: 100px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo-title{
    margin-bottom: 25px;
  }
  &__item-address {
    font-style: normal;
    color: #7b7b7b;
  }
  &__item-title {
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__item-text {
    line-height: 21px;
    margin-bottom: 35px;
    color: #7b7b7b;
  }
  &__form {
    display: inline-block;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    background-color: #fef7f0;
    border: none;
    padding: 14px;
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }
  &__form-btn {
    background-color: #a3bbc8;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    border: none;
    color: #fff;
    padding: 13px 18px 13px 15px;
  }
}
.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: #7b7b7b;
  }
  &__nav-link{
    margin-right: 28px;
    font-size: 14px;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
  }
   &__nav-line::after{
    content:'';
    position: absolute;
    border-left: 1px solid #7b7b7b;
    height: 17px;
    top: 0px;
    right: -16px;
  }
}

.top-slider {
  @extend %container-1770;
  background-image: url(../images/slider/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center 65%;
  padding: 220px 0 45px;
  &__items {
    padding: 0 10px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
  }
  &__title {
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500;
    color: $default;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    color: $accent;
    margin-bottom: 40px;
  }
  &__btn {
    background-color: #a3bbc8;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    padding-left: 26px;
    padding-top: 24px;
    padding-bottom: 20px;
    padding-right: 100px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 5px;
      button{
      border: none;
      line-height: 11px;
      font-size: 9px;
      border-radius: 50%;
      width: 29px;
      height: 29px;
      padding: 0;
      background-color: #fde3cc;
      color: $accent;
      @extend %rubik-400;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: $default;
          @extend %rubik-500;
        }
      }
    }
  }
}

.slider-info {
  padding: 45px 0;
  background-color: #fef7f0;
  @extend %container-1770;
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item{
    padding-left: 75px;
  }
  &__item--support {
    position: relative;
    &::after{
      content: '';
      background-image: url(../images/slider/support.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 11px;
      left: 0px;
      width: 52px;
      height: 54px;
    }
  }
  &__item--delivery {
    position: relative;
    &::after{
      content: '';
      background-image: url(../images/slider/deliver.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 15px;
      left: 0px;
      width: 52px;
      height: 54px;
    }
  }
  &__item--payment {
    position: relative;
    &::after{
      content: '';
      background-image: url(../images/slider/payment.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 11px;
      left: 0px;
      width: 52px;
      height: 54px;
    }
  }
  &__item-title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    max-width: 220px
    }
}










@import 'media';
