@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 37px 0;
  max-width: 1800px;
  margin: 0 auto;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  &__title {
    font-size: 36px;
    line-height: 58px;
    padding-left: 65px;
    position: relative;
    color: $accent;
    @extend %rubik-500
  }
  &__title::after{
    content:"";
    position: absolute;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center left;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 33px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $accent;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 56px;
  }
  &__inner {
    display: flex;
    margin: 0 18px;
    position: relative;
    width: 178px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }
  &__inner::before{
    content:'';
    position: absolute;
    border-left: 1px solid #fde7d3;
    height: 32px;
    top: 9px;
    bottom: 9px; 
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    color: $default;
    text-align: center;
    line-height: 16px;
  }

  &__link--search{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  &__link--dots{
     position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    display: flex;
    align-items:center;
    justify-content: center
  }
}







@import 'media';
