.blog-detalis {
  &__content {
    margin-right: 70px;
    max-width: 830px;
    width: 100%;
  }
  &__namebox{
    margin-top:  -100px;
  }
  &__name-inner{
    img{
      margin-bottom: 30px;
    }
  }
  &__text {
    h6,
    h5{
      @extend %dmsans-700;
      color: $default;
      font-size: 16px;
      line-height: 30px;
    }
    h3{
      margin-bottom: 20px;
      color: #333333;
      font-size: 36px;
      @extend %rubik-400;
    }
    h5{
      margin-bottom: 20px;
    }
    p{
      @extend %rubik-400;
      color: #61637b;
    }
    blockquote{
      min-height: 130px;
      margin: 45px 0;
      border-left: 5px solid $num;
      padding: 22px 30px;
      background-color: #edf1f4;
      @extend %rubik-400;
      span{
        display: block;
        padding-left: 40px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          border-top: 2px solid $num;
          left: 4px;
          top: 50%;
          height: 2px;
          width: 20px;
        }
      }
    }
  }
  &__left-img {
    float: left;
    margin-right: 30px;
    object-fit: cover;
    height: 209px;
    width: 320px;
  }
  h5{
    display: inline-block;
    font-size: 18px;
    @extend %rubik-500;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  &__box {
    padding: 25px 20px 25px 0;
    border: 1px solid #ebebeb;
    border-right: none;
    border-left: none;
    margin: 60px 0;
  }
  &__box-inner {
    display: flex;
    justify-content: space-between;
  }
  &__box-info {
    display: flex;
    align-items: center;
  }
  &__box-img {
    margin-right: 25px;
    object-fit: cover;
  }
  &__box-link {
    color: #333333;
    font-size: 18px;
    @extend %dmsans-700;
  }
  &__box-position {
    @extend %rubik-400;
  }
  &__tags {
    span{
      margin-right: 30px;
    }
  }
  &__shere {
    span{
      margin-right: 20px;
    }
    a{
      margin-right: 20px;
      vertical-align: top;
      &:last-child{
        margin-right: 0;
      }
      svg{
      path{
        fill: #a1a1a1;
        }
      }
    }
  }
  &__comments {
    margin-bottom: 90px;
  }
  &__comments-title {
    font-size: 24px;
    line-height: 36px;
    color: #436372;
    @extend %dmsans-700;
  }
  .comments-title{
    margin-bottom: 50px;
  }
  .comments {
    display: flex;
    &:nth-child(2n+1){
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      padding: 30px 0;
      margin: 25px 0 25px 130px;
    }
    &__img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 30px;
    }
    &__content-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    &__content-name {
      color: #436372;
      @extend %dmsans-700;
    }
    &__content-date {
      font-size: 14px;
      @extend %rubik-400;
      color: #9e9e9e;
    }
    &__content-text {
      color: #565872;
      margin-bottom: 20px;
    }
    &__content-reply {
      font-size: 14px;
      color: #516278;
      padding-right: 20px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        right: 0;
        top: 2px;
        background-image: url(../images/blog/arrow-right-blog.svg);
        background-repeat: no-repeat;
      }
    }
  } 
    &__form-input,
    &__form-textarea {
      width: 100%;
      padding:20px;
      border-radius: 0px;
      border: 1px solid #e5e5e5;
      @extend %rubik-400;
      color: #333333;
      &::placeholder{
        color: #999999;
        @extend %rubik-400;
      }
    }
    &__form-input-inner{
      display: flex;
    }
    &__form-input{
      margin-bottom: 20px;
      margin-right: 30px;
      height: 50px;
      max-width: 400px;
    }
    &__form-input--name{
        background: url(../images/blog/blog-user.svg) no-repeat center right 19px;
    }
    &__form-input--text{
         background: url(../images/blog/email-blog.svg) no-repeat center right 19px;
         margin-right: 0;
    }
    &__form-textarea {
      max-width: 834px;
      height: 120px;
      resize: none;
      margin-bottom: 40px;
      background: url(../images/icons/email-icon-2.svg) no-repeat top 22px right 19px;
    }
    &__form-button {
      @extend %btn;
      border: none;
      padding: 15px 30px;
      border-radius: 0px;
      font-size: 14px;
      @extend %rubik-400;
      color: #fff;
      text-transform: uppercase;
    }
    .form-title{
    margin-bottom: 40px;
  }
}

@media (max-width: 1000px){
  .blog-detalis{
    &__content{
      max-width: 100%;
    }
    &__name-inner{
      img{
        width: 100%;
      }
    }
    &__form-input-inner{
      justify-content: space-between;
    }
    &__form-textarea{
      max-width: 100%;
    }
    .comments {
    &:nth-child(2n+1){
      margin: 25px 0 25px 0px;
      }
    }
  }
}

@media (max-width: 600px){
  .blog-detalis{
    padding: 60px 0;
    &__text{
      h3{
        font-size: 30px;
      }
    }
    &__left-img{
      width: 100%;
      height: 100%;
    }
    &__shere{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      a{
        margin-right: 10px;
      }
      span{
        display: none;
      }
    }
    &__tags{
      display: none;
    }
    &__box-inner{
      align-items: center;
    }
  }
}

@media (max-width: 450px){
  .blog-detalis{
    &__namebox {
    margin-top: -80px;
    }
    &__text{
      blockquote{
        margin: 25px 0;
      }
      h3{
        font-size: 26px;
      }
    }
    &__box{
      margin: 25px 0;
    }
    &__box-link{
      font-size: 16px;
    }
    &__box-img{
      display: none;
    }
    &__comments{
      margin-bottom: 40px;
    }
    .comments-title{
      margin-bottom: 30px;
    }
    .comments{
      &__img{
        display: none;
      }
    }
    .form-title{
      margin-bottom: 20px;
    }
    &__form-input-inner{
      flex-direction: column;
    }
    &__form-textarea{
      margin-bottom: 20px;
    }
  }
}