<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
  <link rel="stylesheet" href="css/blog.min.css">
</head>

<body>
  
  {% include "app/module/_header/_header.html" %}

  <main class="main">

    <section class="top">
      <h2 class="top__title">Blog</h2>
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Home
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Blog
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="blog">
      <div class="container">
        <div class="blog__inner">

          <div class="blog__items">
            <div class="blog__item">
              <img src="images/blog/1.jpg" alt="images">
              <div class="blog__item-namebox">
                <div class="blog__item-date">28 JANUARY, 2020</div>
                <div class="blog__item-author">BY ADMIN</div>
              </div>
              <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod</h3>
              <p class="blog__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog__item-btn btn" href="#">View More
                <img class="blog__btn-img" src="images/blog/arrow-blog.svg" alt="arrow">
              </a>
            </div>
            <div class="blog__item">
              <img src="images/blog/2.jpg" alt="images">
              <div class="blog__item-namebox">
                <div class="blog__item-date">28 JANUARY, 2020</div>
                <div class="blog__item-author">BY ADMIN</div>
              </div>
              <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod</h3>
              <p class="blog__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog__item-btn btn" href="#">View More
                <img class="blog__btn-img" src="images/blog/arrow-blog.svg" alt="arrow">
              </a>
            </div>
            <div class="blog__item">
              <img src="images/blog/3.jpg" alt="images">
              <div class="blog__item-namebox">
                <div class="blog__item-date">28 JANUARY, 2020</div>
                <div class="blog__item-author">BY ADMIN</div>
              </div>
              <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod</h3>
              <p class="blog__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog__item-btn btn" href="#">View More
                <img class="blog__btn-img" src="images/blog/arrow-blog.svg" alt="arrow">
              </a>
            </div>
            <div class="blog__item">
              <img src="images/blog/4.jpg" alt="images">
              <div class="blog__item-namebox">
                <div class="blog__item-date">28 JANUARY, 2020</div>
                <div class="blog__item-author">BY ADMIN</div>
              </div>
              <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod</h3>
              <p class="blog__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog__item-btn btn" href="#">View More
                <img class="blog__btn-img" src="images/blog/arrow-blog.svg" alt="arrow">
              </a>
            </div>
          </div>

          <div class="product-list__filters filter">

            <div class="filter-search filter__item">
              <form class="filter-search__form" action="#">
                <input class="filter-search__input" type="text">
                <button class="filter-search__btn" type="submit">
                  <img src="images/blog/seacrh-blog.svg" alt="icon">
                </button>
              </form>
            </div>

            <div class="filter__item filter-category">
              <h3 class="filter__title">CATEGORY</h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Chair</span>
                    <img src="images/icons/arrow-category.svg" alt="arrow images">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Table</span>
                    <img src="images/icons/arrow-category.svg" alt="arrow images">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Lamp</span>
                    <img src="images/icons/arrow-category.svg" alt="arrow images">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Watch</span>
                    <img src="images/icons/arrow-category.svg" alt="arrow images">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Clock</span>
                    <img src="images/icons/arrow-category.svg" alt="arrow images">
                  </div>
                </label>
              </form>
            </div>

            <div class="filter__item filter-recent blog-recent">
              <h3 class="filter__title">RECENT PRODUCTS</h3>
              <form class="blog-recent__form blog-recent__form" action="#">
                <label class="filter-recent__label blog-recent__label">
                  <img class="filter-recent__img blog__img" src="images/blog/blog-filter.jpg" alt="recent images">
                  <div class="filter-recent__info blog-recent__info">
                    <a class="filter-recent__info-link blog-recent__link">Corem ipsum dolor tetur adipisicing elit</a>
                    <p class="filter-recent__info-date blog-recent__date">28 JANUARY, 2020</p>
                  </div>
                </label>
                <label class="filter-recent__label blog-recent__label">
                  <img class="filter-recent__img blog__img" src="images/blog/blog-filter-2.jpg" alt="recent images">
                  <div class="filter-recent__info blog-recent__info">
                    <a class="filter-recent__info-link blog-recent__link">Fdipisicing elit, sed do eiusmod tempor</a>
                    <p class="filter-recent__info-date blog-recent__date">28 JANUARY, 2020</p>
                  </div>
                </label>
                <label class="filter-recent__label blog-recent__label">
                  <img class="filter-recent__img blog__img" src="images/blog/blog-filter-3.jpg" alt="recent images">
                  <div class="filter-recent__info blog-recent__info">
                    <a class="filter-recent__info-link blog-recent__link">Eonsectetur adipisicing elit, sed do eiusmod</a>
                    <p class="filter-recent__info-date blog-recent__date">28 JANUARY, 2020</p>
                  </div>
                </label>
                <label class="filter-recent__label blog-recent__label">
                  <img class="filter-recent__img blog__img" src="images/blog/blog-filter-4.jpg" alt="recent images">
                  <div class="filter-recent__info blog-recent__info">
                    <a class="filter-recent__info-link blog-recent__link">Eonsectetur adipisicing elit, sed do eiusmod</a>
                    <p class="filter-recent__info-date blog-recent__date">28 JANUARY, 2020</p>
                  </div>
                </label>
              </form>
            </div>
          </div>
        </div>
        <div class="pagination pagination-list-2">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#">1</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
          </ul>
          <a class="pagination__next" href="#">
            Next
          </a>
        </div>
      </div>
    </section>

    <div class="partners">
      <div class="container">
        <div class="partners__inner">
          <img class="partners__img" src="images/icons/logo-partner-1.png" alt="partners image">
          <img class="partners__img" src="images/icons/logo-partner-2.png" alt="partners image">
          <img class="partners__img" src="images/icons/logo-partner-3.png" alt="partners image">
          <img class="partners__img" src="images/icons/logo-partner-4.png" alt="partners image">
          <img class="partners__img" src="images/icons/logo-partner-5.png" alt="partners image">
        </div>
      </div>
    </div>
  </main>

  {% include "app/module/_footer/_footer.html" %}

  <script src="js/main.min.js"></script>
</body>

</html>