.footer{
  padding: 80px 0 40px;
  &__logo{
    display: inline-block;
    margin-bottom: 28px;
  }
}
.footer-top{
  display: flex;
  padding-bottom: 70px;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  @extend %rubik-400;
  border-bottom: 1px solid #7b7b7b;
  &__item-contact{
    width: 215px;
  }
  &__item-nav {
    width: 135px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo-title{
    margin-bottom: 25px;
  }
  &__item-address {
    font-style: normal;
    color: #7b7b7b;
    line-height: 24px;
    font-size: 16px;
  }
  &__item-phone,
  &__item-email,
  &__item-address{
    display: block;
  }
  &__item-title {
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-top: 16px;
  }
  &__item-text {
    line-height: 21px;
    margin-bottom: 35px;
    color: #7b7b7b;
  }
  &__form {
    display: flex;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    background-color: #fef7f0;
    border: none;
    padding: 14px;
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }
  &__form-btn {
    background-color: #a3bbc8;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    border: none;
    color: #fff;
    padding: 13px 18px 13px 15px;
  }
}
.footer-bottom {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: #7b7b7b;
  }
  &__nav-link{
    margin-right: 28px;
    font-size: 14px;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
  }
   &__nav-line::after{
    content:'';
    position: absolute;
    border-left: 1px solid #7b7b7b;
    height: 17px;
    top: 0px;
    right: -16px;
  }
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #edf1f4;
  height: 125px;
  &__title {
    @extend %top-title;
    margin-bottom: 19px;
  }
}

@media (max-width: 900px){
  .footer-top{
    flex-wrap: wrap;
    &__item-contact {
    width: 100%;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 30px;
    }
    &__item-nav{
      text-align: left;
      width: 147px;
      margin-right: 0;
      padding-right: 15px;
    }
    &__item-form{
      max-width: 100%;
    }
    &__form-input{
      max-width: 100%;
    }
  }
}

@media (max-width: 650px){
  .footer__logo{
    margin-bottom: 15px;
  }
  .footer-top{
    padding-bottom: 40px;
    justify-content: center;
    &__item-phone,
    &__item-email,
    &__item-address{
      font-size: 14px;
      line-height: 28px;
    }
    &__item-nav{
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;  
    }
    &__item-title{
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  .footer-bottom{
    flex-direction: column;
  }
}
@media (max-width: 340px){
  .footer__logo{
    margin-bottom: 10px;
  }
  .footer-top{
    padding-bottom: 20px;
    &__item-phone,
    &__item-email,
    &__item-address{
      font-size: 12px;
      line-height: 24px;
    }
    &__item-title{
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .footer-bottom{
    padding-top: 15px;
    &__copy{
      font-size: 13px;
    }
  }
}