.desing {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 120px;
  &__title {
    margin-bottom: 25px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 33px 30px;
  }
}
.desing-item {
  position: relative;
  height: 250px;
  max-width: 370px;
  &__img-box {
    position: relative;
  }
  &__info-box {
    position: absolute;
    top: 40px;
    left: 36px;
    z-index: 1;
    text-align: left;
    line-height: 1;
    @extend %dmsans-700;
  }
  &__title {
    max-width: 170px;
    margin-bottom: 14px;
    color: #191919;
    font-size: 20px;
    line-height: 1.2;
  }
  &__span {
    display: block;
    color: #a3bbc8;
  }
}

.video-popup {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  margin-bottom: 105px;
}

@media (max-width: 1100px){
  .desing{
    margin-bottom: 80px;
    &__items{
      grid-template-columns: repeat(2, 1fr );
      grid-gap: 20px 30px;
    }
  }
  .desing-item{
    height: auto;
    max-width: 100%;
    &__img-box{
      width: 100%;
      img{
        width: 100%;
        background-size: contain;
      }
    }
    &__info-box {
    text-align: center;
    position: relative;
    left: 0;
    top: 0px;
    background-color: #f8f8f8;
    padding: 20px 10px 0px;
    }
    &__title{
      max-width: 100%;
    }
  }
}

@media (max-width: 870px){
  .video-popup{
    height: 350px;
    margin-bottom: 80px;
  }
}

@media (max-width: 600px){
  .desing{
    padding-top: 50px;
    margin-bottom: 60px;
    &__items{
      grid-template-columns: repeat(1, 1fr );
    }
  }
  .desing-item{
    margin: 0 auto;
  }
  .video-popup{
    height: 250px;
    margin-bottom: 60px;
    &__link{
      img{
        height: 70px;
      }
    }
  }
}