.conditions {
  padding: 120px 0;
  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: $default;
    margin-bottom: 36px;
  }
  &__list {
    list-style-type: decimal-leading-zero; 
    margin-bottom: 70px;
    padding-left: 30px;
    p{
      margin-left: 10px;
    }
  }
  &__item {
    margin-bottom: 30px;
  }
  &__text {
    @extend %rubik-400;
    color: $default;
  }
  &__center{
    margin-bottom: 65px;
  }
}

@media (max-width: 1200px){
  .conditions{
    .conditions__list{
      padding-left: 30px;
    }
  }
}

@media (max-width: 600px){
  .conditions{
    padding: 60px 0;
    &__title{
      margin-bottom: 20px;
      font-size: 22px;
    }
    &__item{
      margin-bottom: 15px;
    }
    &__list{
      margin-bottom: 35px;
      p{
        margin-left: 5px;
      }
    }
    &__center{
      margin-bottom: 35px;
    }
  }
}